:root {
  --white: #fff;
  --primary: #61ECBC;
  --black: #182339;

}

html {
  font-size: 62.5%;
}

body {
  background-image: url('/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.app-title {
  font-size: 3.7rem;
  color: var(--white);
  margin-top: 5rem;
  line-height: .9;
}

.app-title span {
  display: block;
  color: var(--primary);
  font-size: 4.5rem;
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label{
  font-size: 1.8rem;
  color: var(--black);
}

.form select{
  font-size: 1.8rem;
  padding: 1rem;
  border: none;
  background-color: #ECEBEB;
  border-radius: 1rem;
}

.form [type="submit"] {
  padding: 1rem;
  background-color: var(--primary);
  color: var(--black);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 2rem;
  transition: background-color .3s ease;
}

.form [type="submit"]:hover {
  background-color: #0CB387;
}

.result-wrapper{
  margin-top: 5rem;
}

.result-wrapper h2{
  text-align: center;
}

.result{
  display: grid;
  grid-template-columns: 1fr 3fr ;
  align-items: center;
  gap: 1rem;
}

.result img{
  width: 100%;
}

.result p{
  font-size: 1.8rem;
  margin: 0 0 1rem;
}

.result p span{
  font-weight: 700;
}
